*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.dark {
    background: linear-gradient(80deg, #05121a 7%, #5c6b73, silver 15%, #5c6b73 20%, #05121a 35%);
    color: silver;
}

.light {
    background: linear-gradient(80deg, #05121a 1%, silver 15%);
    color: #05121a;
}

.container {
    width: 80%;
    margin: auto;
}


/* Navigation Bar */

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05121a;
    position: fixed;
    margin: auto;
}

.navbar ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin: 10px 0;
}

.navbar li{
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar a{
    padding: 5px 20px;
    color: silver;
    transition: all .5s ease;
}

.navbar a:hover, 
.navbar a:focus{
    background-color: #05121a77;
    box-shadow: 20px 20px 20px 0;
    border-radius: 15%;
}

.navbar li:last-child{
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Main */
main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100vh;
}

main .headings {
    margin-bottom: 20px;
    text-align: center;
}

main h1 {
    font-size: 34px;
}

main i {
    font-size: 18px;
}

main img {
    width: 150px;
    height: 150px;
    box-shadow: 20px 20px 20px 0;
    border-radius: 5%;
}

/* About */
#about h2 {
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
}

#about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .container div {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #05121a;
    border-radius: 1%;
    box-shadow: 10px 10px 10px 0;
}

#about img {
    width: 150px;
    height: 150px;
    box-shadow: 20px 20px 20px 0;
    border-radius: 5%;
}


/* Media Queries (mobile first) */
@media (min-width: 568px) {
    .navbar ul{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px auto;
    }
    .navbar a{
        padding: 5px 10px;
    }
    .navbar li:last-child{
        grid-column-start: 5;
        grid-column-end: 6;
    }
    main{
        flex-direction: row;
        justify-content: space-evenly;
    }
    #about h2 {
        margin-bottom: 30px;
    }
}
@media (min-width: 768px) {
    main h1 {
        font-size: 50px;
    }
    main h2 {
        font-size: 35px;
    }
    main i {
        font-size: 25px;
    }
    main img {
        width: 200px;
        height: 200px;
    }
    #about h2 {
        margin-bottom: 25px;
    }
    #about .container {
        flex-direction: row;
        justify-content: space-between;
    }
    #about img {
        width: 180px;
        height: 180px;
        margin-left: 20px;
    }
}
@media (min-width: 992px) {
    main h1 {
        font-size: 80px;
    }
    main h2 {
        font-size: 60px;
    }
    main i {
        font-size: 35px;
    }
    main img {
        width: 250px;
        height: 250px;
        box-shadow: 40px 40px 40px 0;
    }
    #about h2 {
        font-size: 30px;
    }
    #about .container div {
        display: flex;
        justify-content: space-between;
        border: none;
        box-shadow: none;
        margin-bottom: 0;
        padding: 0;
    }
    #about p {
        margin: 5px;
        padding: 10px;
        width: 33%;
        border: 1px solid #05121a;
        border-radius: 3%;
        box-shadow: 10px 10px 10px 0;
    }
    #about img {
        width: 200px;
        height: 200px;
    }
}
@media (min-width: 1400px) {
    main h1 {
        font-size: 90px;
    }
    main h2 {
        font-size: 70px;
    }
    main i {
        font-size: 45px;
    }
    main img {
        width: 300px;
        height: 300px;
    }
    #about h2 {
        font-size: 50px;
    }
    #about p {
        font-size: 20px;
    }
    #about img {
        width: 250px;
        height: 250px;
    }
}