*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

.dark {
    background: linear-gradient(80deg, #05121a 7%, #5c6b73, silver 15%, #5c6b73 20%, #05121a 35%);
    color: #f0f0f0;
    min-height: 100vh;
}

.light {
    background: linear-gradient(89deg, #05121a 1%, silver 15%);
    color: #05121a;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
}


/* Navigation Bar */

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05121a;
    position: fixed;
    margin: auto;
}

.navbar ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin: 10px 0;
}

.navbar li{
    text-align: center;
    font-size: 1.1rem;
}

.navbar a{
    padding: 5px 20px;
    color: #f0f0f0;
    transition: all .5s ease;
}

.navbar a:hover, 
.navbar a:focus{
    background-color: #05121a77;
    box-shadow: 20px 20px 20px 0;
    border-radius: 15%;
}

.navbar li:last-child{
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Main */
main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
}

main .heading {
    margin-bottom: 20px;
    text-align: center;
}

main h1 {
    font-size: 2.2rem;
}

main i {
    font-size: 1.1rem;
}

#summary {
    margin-left: 4em;
    margin-right: 1em;
    padding: 5px;
    border: 1px solid silver;
    box-shadow: 10px 10px 10px 0;
}

main a {
    color: #d5ffff;
}
main a:hover, 
main a:focus {
    box-shadow: 20px 20px 20px 0;
    border-radius: 15%;
}

/* Separate About Page */
#navbar-about-long {
    width: 100%;
    background-color: #05121a;
    position: fixed;
}

#navbar-about-long ul{
    list-style: none;
    margin: 10px 0;
}

#navbar-about-long li{
    text-align: center;
    font-size: 1.1rem;
}

#navbar-about-long a{
    color: #f0f0f0;
    transition: all .5s ease;
}

#navbar-about-long a:hover, 
#navbar-about-long a:focus{
    background-color: #05121a77;
    box-shadow: 20px 20px 20px 0;
    border-radius: 15%;
}

#main-about-long .container {
    padding: 50px 5px 0 5px;
    border: 1px solid #05121a;
    border-radius: 1%;
    box-shadow: 10px 10px 10px 0;
    background-color: #05121a77;
}
#main-about-long p {
    padding: 10px;
}
#main-about-long img {
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 5px 0;
    border-radius: 5%;
    float: right;
}
/* Skills Section */
#skills {
    background-image: url("Images/aurora.jpg");
    background-size: cover;
    background-position: top;
}
#skills::after {
    background: linear-gradient(181deg, #c0c0c066 20%,  #d0d0d0ff);
    z-index: 1;
}
#skills h2 {
    padding-top: 85px;
    background: linear-gradient(186deg,#05121a 1%,#5c6b73, silver 35%, #5c6b7366 55%, #05121a99 70%);
    color: #d5ffff;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
}
#skills .container {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    background: linear-gradient(181deg, #c0c0c066 20%,  #d0d0d0ff);
}

#skills .skill-group {
    width: 80%;
    margin: auto;
    font-size: 3.1rem;
    color: #d5ffff;
}
.skill-group .subheading {
    width: 70%;
    margin: auto;
    border-top: 3px dashed #d5ffff;
    border-bottom: 3px dashed #d5ffff;
    color: #05121a;
    font-size: 1.5rem;
}
.skill-group ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.skill-group li {
    flex: 1 1 50%;
}

.skill-group .chrome-dt {
    flex-basis: 100%;
}

#skills p {
    font-size: 1.2rem;
    color: #05121a;
}

/* logo colors */
.fa-html5 {
    color: #e34c26;
}
.fa-css3-alt {
    color: #264de4;
}
.fa-sass {
    color: #CD6799;
}
.fa-bootstrap {
    color: #563d7c;
}
.fa-js-square {
    color: #f0db4f;
}
.fa-react {
    color: #36dff8;
    background-color: #00000011;
    border-radius: 50%;
}
.fa-node-js {
    color: #3c873a;
}
.devicons-mongodb {
    background: linear-gradient(90deg, #4db33d 50%, #3fa037 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.fa-terminal {
    color: #00000099;
}
.devicons-visualstudio {
    color: #0078d7;
}
.fa-git-alt {
    color: #f1502f;
}
.fa-github {
    color: #1d202d;
}
.devicons-chrome {
    color: #6eade9;
}
/* ----------------- */

.devicons-mongodb ~ p {
    background-color:#ffffff11;
}
.img-logo {
    width: 50px;
    height: 50px;
    margin-top: 4px;
}
/* WebProjects Section */
#projects h2 {
    padding-top: 85px;
    background: linear-gradient(90deg,#05121a 1%,#5c6b73, silver 35%, #5c6b7366 55%, #05121a99 70%);
    color: #05121a;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
}

/* Media Queries (mobile first) */
@media (min-width: 568px) {
    .navbar ul{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px auto;
    }
    .navbar a{
        padding: 5px 10px;
    }
    .navbar li:last-child{
        grid-column-start: 5;
        grid-column-end: 6;
    }
    main{
        flex-direction: row;
        gap: 2.5rem;
        justify-content: center;
    }
    main .headings {
        width: 55%;
    }
    #summary {
        margin-left: 5em;
        width: 45%;
    }
    #main-about-long .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        grid-gap: 10px;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
    #main-about-long p {
        border-radius: 2%;
        box-shadow: 10px 10px 10px 0;
    }
    #main-about-long img {
        width: 175px;
        height: 175px;
        float: remove;
        box-shadow: 10px 10px 10px 0;
    }
    #skills h2 {
        padding-top: 60px;
        font-size: 2rem;
    }
    .devicons-mongodb ~ p {
        background-color: transparent;
    }
}
@media (min-width: 768px) {
    main h1 {
        font-size: 3rem;
    }
    main h2 {
        font-size: 2.2rem;
    }
    main i {
        font-size: 1.4rem;
    }
    main .headings {
        width: 60%;
    }
    #summary {
        margin-left: 4em;
        width: 40%;
    }
    #main-about-long .container {
        margin: 70px, 70px;
        font-size: 20px;
    }
    #main-about-long img {
        width: 180px;
        height: 180px;
    }
    #skills h2 {
        font-size: 2.3rem;
    }
    #skills h3 {
        font-size: 2.1rem;
    }
    #skills p {
        font-size: 1.4rem;
    }
    #skills .skill-group {
        width: 80%;
        margin-top: 1rem;
        font-size: 3.1rem;
    }
    .fa-node-js {
        background-color: rgba(238, 234, 234, 0.267);
        border-radius: 30%;
    }
    #skills .container {
        grid-template-columns: 1fr 1fr;
    }
    #skills .container .skill-group:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto;
    }
    #react {
        margin-bottom: 2rem;
    }
}                                                         

@media (min-width: 992px) {
    main h1 {
        font-size: 3.3rem;
    }
    main h2 {
        font-size: 2.3rem;
    }
    main i {
        font-size: 1.5rem;
    }
    main .headings {
        width: 60%;
    }
    #summary {
        font-size: 1.1rem;
        margin-left: 4em;
        box-shadow: 25px 25px 25px 0;
    }

    #main-about-long .container {
        grid-gap: 20px;
        margin: 100px, 100px;
        font-size: 25px;
    }
    #main-about-long img {
        width: 200px;
        height: 200px;
    }
}
@media (min-width: 1200px) {
    main h1 {
        font-size: 3.7rem;
    }
    main h2 {
        font-size: 2.6rem;
    }
    main i {
        font-size: 1.8rem;
    }
    main .headings {
        width: 60%;
    }
    #summary {
        margin-left: 4em;
        width: 40%;
        font-size: 1.2rem;
    }
}
@media (min-width: 1400px) {
    main h1 {
        font-size: 5rem;
    }
    main h2 {
        font-size: 3rem;
    }
    main i {
        font-size: 2rem;
    }
    #summary {
        margin-left: 7em;
        width: 40%;
        font-size: 1.7rem;
    }
    #main-about-long p {
        font-size: 1.2rem;
    }
    #main-about-long img {
        width: 250px;
        height: 250px;
    }
}